
.page
	%article.white	
		.wrapper
			.box
				.sell-title
					Get started by creating your store.
				.sell-form
					.section-header Fill in the form to start
					= render 'form', store: @store 

			-# .col-half
			-# 	.heading How to get noticed on Claeus