
.page
	%article.white
		.section
			.wrapper
				.sell-title About Claeus
				.excerpt
					Claeus surfaces emerging brands and products, every day. It's a place for product-loving enthusiasts find new products and awesome brands emerging in africa and the world.
			
				%br/
				.sell-title
					Our Mission
				.excerpt
					To give emerging brands the tools to grow their brand while attracting customers globally through our secure and social global marketplace.