.page
	%article.claeus
		.wrapper
			.sell-title
				Grow your brand while selling on Claeus.
			.excerpt
				Claeus surfaces emerging brands and products, every day. It's a place for product-loving enthusiasts to find new products and awesome brands emerging in Africa and the world.
			%br/

			= link_to "Open your store on Claeus", new_store_path, class: 'button button-primary'
			
			
			.excerpt
				How it works:
				.how-to-container
					.row
						.col-third 
							.how-to-title.pad-20
								Create a store in 60 seconds

						.col-third 
							.how-to-title.pad-20
								List your products

						.col-third 
							.how-to-title.pad-20
								Grow your brand

.wrapper
	%br/
	%br/
	.section-header
		Reasons to choose Claeus:
	%ul.bullets
		%li.bullet
			.bullet-icon.bullet-icon-1
				%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
			.bullet-content
				%h2 Super simple setup
				%p Getting started is quick and easy. We know you’re busy, so let us handle all the complicated stuff, while you get back to doing what you love.

	      
		%li.bullet
			.bullet-icon.bullet-icon-2
				%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
			.bullet-content
				%h2 Sell with no fees
				%p Dont worry about listing fees and someone taking a cut of your sales! With Claeus, you can list and sell for free.

		%li.bullet
			.bullet-icon.bullet-icon-2
				%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
			.bullet-content
				%h2 Easy management
				%p Easily track the status of your orders, print professionally formatted receipts.
		
		%li.bullet
			.bullet-icon.bullet-icon-2
				%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
			.bullet-content
				%h2 SEO cool
				%p We’ve made sure the search engines will love you. It’s optimized so that your store and brand will be found easily online.
		
		%li.bullet
			.bullet-icon.bullet-icon-2
				%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
			.bullet-content
				%h2 Manage on the go
				%p Your store is optimized for a great mobile shopping experience.

		%li.bullet
			.bullet-icon.bullet-icon-2
				%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
			.bullet-content
				%h2 Store statistics
				%p Grow your business by tracking your revenue, traffic sources, most liked, most watched products and more!
		%li.bullet
			.bullet-icon.bullet-icon-2
				%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
			.bullet-content
				%h2 NOtifications
				%p Grow your business by tracking your revenue, traffic sources, most liked, most watched products and more!
		%li.bullet
			.bullet-icon.bullet-icon-2
				%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
			.bullet-content
				%h2 Stats
				%p Grow your business by tracking your revenue, traffic sources, most liked, most watched products and more!

					
.page
	%article.white
		.sell-title
			Our Mission
		.excerpt
			To enable emerging brands grow globally by offering products through one secure and social global marketplace.
.page
	%article.white
		.sell-title
			Expand your reach and grow.
			
		= button_to "Start selling", new_store_path, method: :get, class: "button button-sexy"




