
.page
	.section
		%article.grey
			.section-header All Categories
			.grid-container
				.grid
					- @categories.each do |cat|
						.col-two
							.grid-tile
								.tile-img{ style: "background-image:  url('#{cat.avatar.url(:medium)}')"  }
								.tile-name
									= link_to cat.name, cat