
.page
	.section
		%article
			.section-header All Categories
			.grid-container
				.grid
					- @categories.each do |cat|
						.col-quarter
							= link_to cat do
								.grid-tile
									.tile-img{ style: "background-image:  url('#{cat.avatar.url(:medium)}')"  }
									.tile-name= cat.name
