
.page
	%article.white
		.section
			.wrapper
				.section-header Your Products
				.row
					- @products.each do |p|
						.col-quarter
							= link_to store_product_path(@store, p) do
								.card
									.card-image
										%img{:src => "#{p.image.url(:medium)}", :alt => ""}/
									.card-header
										.product-name= p.name.truncate_words(4) 
									.card-body
										%p.price= number_to_currency((p.price).to_i, unit: "GHS")
	    
